@font-face{
  font-family: Inter;
  src: url('../assets/fonts/Inter.ttf');
}

body{
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  background-color: #EEEEEE;
  color: #31363F;
  font-family: Inter;
}

a, a:active, a:hover, a:visited{
  text-decoration: none;
  color: #31363F;
}

.parent{
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back{
  color: #31363F;
}

.header{
  color: #222831;
}

.images{
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
}

.video{
  border: none;
  border-radius: 10px;
  aspect-ratio: 16/9;
  height: 350px;
}

.image{
  width: 30%;
  margin: 20px 0;
  border-radius: 20px;
}

.info, .address, .phone, .email{
  font-size: larger;
}

@media screen and (max-width: 850px) {
  .image{
    width: 80%;
  }
  .video{
    aspect-ratio: 16/9;
    height: auto;
    width: 65vw;
  }
  .info, .address, .phone, .email{
    font-size: large;
  }
}